@using SmartStore.Web.Framework
@model SmartStore.DiscountRules.PurchasedProducts.Models.PurchasedOneProductModel
@{
	Layout = "";
}
<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.ProductIds)
		</td>
		<td class="adminData">
			<div class="discount-rule-wrapper"
				 data-discount-id='@Model.DiscountId'
				 data-requirement-id='@Model.RequirementId'
				 data-action-url='@Url.Action("PurchasedOneProduct")'
				 data-fail-msg='@T("Admin.Promotions.Discounts.Requirements.FailedToSave").JsText'
				 data-success-msg='@T("Admin.Promotions.Discounts.Requirements.Saved").JsText'>
				<div>
					<div class="input-group">
						@Html.TextBoxFor(model => model.ProductIds, new { data_routeparam = "productIds" })
						<div class="input-group-append">
							@(Html.SmartStore().EntityPicker()
								.For(x => x.ProductIds)
								.HtmlAttribute("class", "btn btn-outline-secondary")
								.DialogTitle(T("Plugins.DiscountRules.PurchasedOneProduct.Fields.Products").JsText)
								.Caption(T("Admin.Common.Search").JsText))
						</div>
					</div>

					<button type="button" class="btn @(Model.RequirementId == 0 ? "btn-primary" : "btn-warning") btn-save-discount-rule mt-3">
						<i class="fa fa-check"></i>
						<span>@T("Admin.Common.Save")</span>
					</button>
				</div>
			</div>
		</td>
	</tr>
</table>