@using SmartStore.Web.Framework;
@model SmartStore.CanadaPost.Models.CanadaPostModel
@{
    Layout = "";
}

<div class="plugin-actions">
	<button id="SaveConfigButton" type="submit" name="save" class="btn btn-primary" value="save">
		<i class="fa fa-check"></i>
		<span>@T("Admin.Common.Save")</span>
	</button>
</div>

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Url)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Port)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Port)
                @Html.ValidationMessageFor(model => model.Port)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.CustomerId)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerId)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </td>
        </tr>
    </table>    
}