@using SmartStore.Web.Framework;
@model SmartStore.AustraliaPost.Models.AustraliaPostModel
@{
	Layout = "";
}

<div class="plugin-actions">
	<button id="SaveConfigButton" type="submit" name="save" class="btn btn-primary" value="save">
		<i class="fa fa-check"></i>
		<span>@T("Admin.Common.Save")</span>
	</button>
</div>

@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.GatewayUrl)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GatewayUrl)
                @Html.ValidationMessageFor(model => model.GatewayUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AdditionalHandlingCharge)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalHandlingCharge)
                @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShippedFromZipPostalCode)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ShippedFromZipPostalCode)
                @Html.ValidationMessageFor(model => model.ShippedFromZipPostalCode)
            </td>
        </tr>
    </table>    
}